@{
    
    Layout = "/Views/Shared/_AdminLayout.cshtml";
      
}



<h1 style="margin-left:200px ; margin-top:100px" >Customer Deleted </h1>
<script>
    $(document).ready(function () { })
    alert("Customer Deleted");
</script>
<script type="text/javascript">
    window.history.forward(-1);
</script>