@{
    
    Layout = "/Views/Shared/_AdminLayout.cshtml";
      
}



<h1 style="margin-left:200px ; margin-top:100px">NO Customer Deleted </h1>
<script>
    $(document).ready(function () { })
    alert("No CustomerDeleted");
</script>