<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title>Watch Centre</title>
    <script src="~/Scripts/jquery-1.7.1.js" ></script>
    <script src="~/Scripts/bootstrap.js" ></script>
    <script src="~/Scripts/bootstrap.min.js" ></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color:beige">
    
   
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="AdminPanel">Add Watches</a>
            <ul class="nav">
                <li><a href="AddCustomers">Add Customers</a></li>
                <li><a href="ViewCustomers">View Customers</a></li>
                <li><a href="ViewPurchases">View Purchases</a></li>
               
            </ul>
            
        </div>
     </div>



   

    @RenderBody()


</body>
</html>