@{
    Layout = "/Views/Shared/_OLayout.cshtml";
      
}

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="Index.html" >Home</a>
            <ul class="nav">
                <li><a>Home...</a></li>
                <li><a>watches..</a></li>
                <li><a>Brands..</a></li>
                <li><a href="ContactUs.html">Contact Us</a></li>
            </ul>
            <div class="pull-right">
                 <input class="btn btn-info"  type="button" value="SignIn" />

            <input class="btn btn-info"  type="button" value="SignUp" />
                </div>
        </div>
     </div>
    <input type="text" style="height:20px " />

   

