@{
    Layout = "/Views/Shared/_OLayout.cshtml";
      
}

    <div style="padding-left:250px" >
        
        <div >
            <p >Mobile Number : +1-92-300-0000000</p>
        <p>Address: NOt Att All </p>
        <p>Area: Will be given soon</p>
            <lable >Want to Send Us Mail</lable>
        <label>Subject</label><p><input id="subject" name="subject" style="margin:0px,100px,0px,0px" type="text" class="form-control" /></p>
            <label>Your Email ID</label>
            <p><input id="Text2" name="subject2" style="margin:0px,100px,0px,0px" type="text" class="form-control" /></p>
        <label>body</label><div class="form-group"><textarea class="form-control" rows="8" id="comment"></textarea>
        </div>        <p><input id="send" name="send" type="button" value="Send" /></p>
        </div>
     </div>

  

