@{
    Layout = "/Views/Shared/_OLayout.cshtml";
      
}
 <div class="col" >
<div class="col-md-3 center-block" >
            <div>
                
                <div>
                <img  onmouseover="$(this).attr('src','/Images/Rado%20Black%20Gold-800x800.jpg')" class="span12 ; img-responsive"  onmouseout="$(this).attr('src','/Images/557978412_o.jpg')" src="~//Images/557978412_o.jpg" style="height:270px ; width:330px  "  />
            </div>
           </div>
        </div>
<div class="col-md-3 center-block">
 
                <img  onmouseover="$(this).attr('src','/Images/Latest-unique-new-watches-for-men-and-boys-in-gorgeous-styles-2015-8-1024x1024.jpg')" class="span12 ; img-responsive"  onmouseout="$(this).attr('src','/Images/Rado-Swiss-Watches-Collection-2013-3.jpg')" src="~/Images/Rado-Swiss-Watches-Collection-2013-3.jpg" style="height:270px ; width:330px "  />
                
        </div>
    <div class="col-md-3 center-block">
            
                <img  onmouseover="$(this).attr('src','/Images/Rado%20Black%20Gold-800x800.jpg')" class="span12 ; img-responsive"  onmouseout="$(this).attr('src','/Images/Latest-GUCCI-Watches-Design-Collection-for-Men-2.jpg')" src="~/images/Rado-Swiss-Watches-Collection-2013-3.jpg" style="height:270px ; width:330px "  />
                
        </div>
</div>

<div class="col-md-3 center-block">
    
                <img  onmouseover="$(this).attr('src','/Images/Latest-unique-new-watches-for-men-and-boys-in-gorgeous-styles-2015-8-1024x1024.jpg')" class="span12 ; img-responsive"  onmouseout="$(this).attr('src','/Images/Rado-watches-for-men.jpg')" src="~/Images/Rado-watches-for-men.jpg" style="height:270px ; width:330px "  />
                
        </div>
<div class="col-md-3 center-block"  style="margin-bottom:50px">
            
                <img  onmouseover="$(this).attr('src','/Images/Latest-GUCCI-Watches-Design-Collection-for-Men-2.jpg')" class="span12 ; img-responsive"  onmouseout="$(this).attr('src','/images/Rolex-Datejust-Automatic-Watch-Full-Gold-Diamond-62.jpeg')" src="~/Images/Latest-GUCCI-Watches-Design-Collection-for-Men-2.jpg" style="height:270px ; width:330px "  />
    
        </div>