@model WatchExpo.Models.Watch 
@{
    
    Layout = "/Views/Shared/_OLayout.cshtml";
      
}
   
<!-- -->
   
     


    
    <div style="margin-top:50px ; margin-left:50px">
    <Lable> Search By Brand </Lable>
     
        <input id="brand1" type="text" placeholder="Enter Brand Name"  name="Brand"
            

            /> 
       
        
           
       
       <input type="button" id="btn" name="SerByBrand" value="Search"  />
             
    </div>
   
  

    
<div  id="showhead">
<Table id="show" style="margin-left:150px ; border-color:orange" border="1" >
    
          <tr>
                <td>Brand</td>
                <td>Model</td>
                <td>Price</td>
                 <td>Image</td>
            </tr>
    </Table>
</div>

<div id="result" ></div>
     <div style="margin-top:50px ; margin-left:50px " >
    <Lable> Search By Price </Lable>
         <select id="selector" >
             <option>--Select Price--</option>
             <option value="0" > < 4000</option>
             <option value="1"> 4000---8000</option>
             <option value="2"> 8000---12000</option>
             <option value="3">12000-16000</option>
             <option value="4">>16000 </option>
         </select>
       
           
         </div>
<div>
<Table id="show1" style="margin-left:150px ; border-color:orange" border="1" >
    
          <tr>
                <td>Brand</td>
                <td>Model</td>
                <td>Price</td>
                <td>Image</td>
            </tr>
    </Table>
</div>
<div style="margin-bottom:200px" ></div>
  
   <script >
       
       $(document).ready(function () { })
        
       $('#brand1').popover(); 
        $('#btn').click(function()
        {
            var bran = $('#brand1').val();
            $("#watches option").remove();
            
            $('#result').text("User already exists in database");
            $('#result').text("User already exists in database1111");
            $.getJSON("/client/Check?Brand="+ bran ,function(data)
            {
                $('#result').text("User already exists in database2222");
                if (data.length == 0 ) {
                    $('#result').text("No Watch Found");

                }
                else {
                    $('#result').text("Watch Found");
                }
                
                
                $('#show').show();
                $.each(data,function(i,n)
                {
                    $("#show").append('<tr><td style="width:100px">' + n.Brand + '</td><td style="width:100px">' + n.Model + '</td><td style="width:100px">' + n.Price + '</td><td><img style="height:90px ; width:90px" src="' + n.Photo + '"</img></td></tr>');
                }
                
            )
            })
        })
       
       
        
        $("#selector").change(function () {
            var countryId = $("#selector").val();
           
          


            $.getJSON("/client/GetCities?id=" + countryId, function (data) {
                $("#citySelctor").append('<option>-Select City-</option>');
                $.each(data, function (i, n)
                {
                    $("#show1").append('<tr><td style="width:100px">' + n.Brand + '</td><td style="width:100px">' + n.Model + '</td><td style="width:100px">' + n.Price + '</td><td><img style="height:90px ; width:90px" src="' + n.Photo + '"</img></td></tr>');
                    //alert('Id = ' + item.Id + " Name = " + item.Name);
                })

            })

        })

       

    </script>
