@{
    Layout = "/Views/Shared/_OLayout.cshtml";
      
}
    
   

    
   <div class="span3" style="margin-top:50px ; margin-left:100px" >
    <div class="well sidebar-nav-fixed" style="color:aquamarine">
        <ul>
            <li class="nav-header"><a>Brands</a></li>
            <li> <a href="Rado"> Rado </a></li>
            <li><a href="Rolex"> Rolex </a></li>
            <li><a>Seeko</a></li>
        </ul>
    </div>
        </div>

    <div class="span3" style="margin-top:50px" >
    <div class="well sidebar-nav-fixed" style="color:aquamarine">
        <ul>
            <li class="nav-header"><a>Warity</a></li>
            <li> <a href="Rado"> Ladies Watch </a></li>
            <li><a href="Rolex"> Gents Watch </a></li>
            
        </ul>
    </div>
        </div>
 
